1 VERSIONINFO
FILEVERSION     0,1,1,0
PRODUCTVERSION  0,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Fuelsoft Development"
      VALUE "FileDescription", "Image Viewer"
      VALUE "FileVersion", "0.1.1"
      VALUE "InternalName", "viewer"
      VALUE "LegalCopyright", "Fuelsoft Development"
      VALUE "OriginalFilename", "Viewer.exe"
      VALUE "ProductName", "Image Viewer"
      VALUE "ProductVersion", "0.1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
2 ICON "viewer.ico"